---
import Button from "./Button.astro";

interface Props {
  teamA: string;
  teamB: string;
  score?: string;
  memberCount?: number;
  teamAFlag: string;
  teamBFlag: string;
  href?: string;
  status?: "live" | "upcoming";
}

const {
  teamA,
  teamB,
  score,
  memberCount = 0,
  teamAFlag,
  teamBFlag,
  href = "/rooms/:id",
  status = "upcoming",
} = Astro.props as Props;
---

<div class="bg-bg/90 rounded-4xl shadow-md p-6">
  <div class="flex items-center justify-between gap-4">
    <div class="flex flex-col items-center gap-2">
      <img
        src={teamAFlag}
        alt={`${teamA} flag`}
        class="w-70 h-45 bg-amber-50"
      />
      <span class="font-medium">{teamA}</span>
    </div>
    <span class="text-6xl font-bold text-primary-60 px-4 py-2"
      >{score || "VS"}</span
    >
    <div class="flex flex-col items-center gap-2">
      <img
        src={teamBFlag}
        alt={`${teamB} flag`}
        class="w-70 h-45 bg-amber-50"
      />
      <span class="font-medium">{teamB}</span>
    </div>
  </div>
  <div class="mt-4 flex items-center justify-between">
    <div class="text-xl font-normal">{memberCount} chatting now</div>

    {
      {
        live: (
          <Button variant="primary" href={href}>
            Join Room
          </Button>
        ),
        upcoming: (
          <Button variant="primary" disabled>
            Available Soon
          </Button>
        ),
      }[status]
    }
  </div>
</div>
